# Python関連
__pycache__/
*.py[cod]
.venv/
.env

# 開発関連
.git/
.vscode/
.idea/
README.md
*.md

# Docker関連
.dockerignore
Dockerfile*
docker-compose*.yaml
deploy.sh

# テスト・ログ関連
test/
*.log
logs/

# OS関連
.DS_Store
Thumbs.db

# Poetry関連
dist/
build/
